# Node modules
node_modules/
frontend/node_modules
backend/node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
tmp/
temp/
.cache/

# Operating System files
.DS_Store
Thumbs.db

# IDE or Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous files
*.tgz
*.zip
*.tar.gz
